body{
	background-image: url(resources/images/rocks.jpg);
	background-size: cover;
	background-position: center;
}
.head{
	font-size: 80px;
	color: black;
	font-family: aerial;
	font-weight: bold;
	font-effect:splintered;
}
#cent{
	text-align: center;
	padding-top:50px;

}
.hed{
	font-size: 25px;
	color: white;
	font-family: times new roman;
}
.intro{
	color: white;
font-weight: bold;
font-style: italic;
font-size: 20px;
text-align: center;
}
.trae{
	font-size: 60px;
	color:red;
	font-family: 'Tangerine', serif;
    font-size: 60px;
    text-shadow: 4px 4px 4px #aaa;
    font-weight: bold;
}
.foot{
	background-color: grey;
	text-align: center;
	color: black;

}
.navv{
	background-image: url(resources/images/cam.jpg);
	background-size: cover;
	background-position: center;
	height: 150px;
	font-size: 20px;
}
.pic{
	width: 200px;
	height: 200px;
	text-align: center;
}
.butt{
	height: 5em;
	width: 8em;
}
.intro{
	background-image: url(resources/images/street.jpg);
	background-position: center;
	background-size: cover;
}
.log{
	width: 45px;
	height: 45px;
}